@import './reset.scss';

html {
    height: 100%;
}

body {
    background-color: #cecdc2;
}

header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #eee;
    border-bottom: 1px solid black;

        .sourceList {
            font-size: 18px;
            text-align: center;

            .sourceItem {
                display: inline-block;
                width: 90px;
                vertical-align: middle;
                margin: 3px 20px 3px 0;
                cursor: pointer;

                &.activeSource {
                    color: red;
                }
            }
        }
}

.mainContainer {
    margin-top: 80px;
    
    .articleBoxContainer {

        .articlesBox {
            display: flex;
            width: 70%;
            margin: 0 auto;
            flex-flow: row wrap;
            justify-content: space-around;
            border: 1px solid black;
            background-color: #fffde5;

            .article {
                display: flex;
                box-sizing: border-box;
                flex-flow: column wrap;
                align-items: center;
                flex-basis: 30%;
                padding: 10px 5px;
                margin: 30px 0;
                background-color: #edebd7;
                border: 1px solid #ccc;

                .articleImage {
                    display: inline-block;
                    width:300px;
                    height:160px;
                    background-size: cover;
                }

                .articleMain {
                    width: 90%;
                    padding: 5px;

                    .articleTitle {
                        font-size: 18px;
                        height: 55px;
                        font-weight: bold;
                        margin: 5px 0;
                    }
                    .articleDescription {
                        height: 120px;
                        margin: 5px 0;
                    }
                    .publishInfo dt,
                    .publishInfo dd {
                        float: left;
                        width: 50%;
                    }
                    .publishInfo dt {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .showMoreButton {
        display: block;
        width: 100px;
        margin: 10px auto;
        font-size: 16px;
        background-color: #aaa;
        border: none;
        color: white;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
            &.hide {
                display: none;
            }
    }
}

/*Overlay*/
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
        &.hide {
            display: none;
        }
}
/*----------*/

/*Mediaquery*/
@media only screen and (max-width: 500px)  {
    .articlesBox {
        width: auto;
    }
}
/*----------*/