html, body {
    height: 100%;
}

body {
    min-height: 100%;
}

button {
    cursor: pointer;
}

.mainContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 50px;
}
    .mainContainer .sourceListContainer {
        width: 70%;
        margin-bottom: 50px;
        text-align: center;
    }

    .mainContainer .articleBoxContainer {
        flex-basis: 100%;
    }

.sourceList {

}

.sourceList .sourceItem {
    display:  inline-block;
    margin: 5px 20px 5px 0;
    cursor: pointer;
}
    .sourceList .sourceItem.activeSource {
        color: red;
    }


.articlesBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.article {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-basis: 30%;
    margin-bottom: 30px;
}

    .article .articleMain {
        max-width: 300px;
    }

    